<?xml version="1.0" encoding="utf-8" ?>
<e3Section>
    <connectionStrings>
        <!-- Modeler Entity Framework -->
        <add name="EF" provider="mssql" connectionString="Data Source=team.insighton.kr;Initial Catalog=e3_safetyoneq;User ID=e3;Password=insighton0615;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />        
	</connectionStrings>

    <systemSettings>
        <!-- IBatis에서 사용 할 connectionString key -->
        <add key="IBATIS_CONNECTION_NAME" value="EF" />
        <!-- 허용 도메인 -->
        <add key="ALLOW_DOMAIN" value="localhost;e3.insighton.co.kr;m.insighton.co.kr;team.insighton.kr;safetyoneq.insighton.kr"/>
    </systemSettings>

    <appSettings>
      <add key="E3_QUERYSERVICE_URL" value="https://localhost/safety-api/QueryService.svc" />
      <add key="E3M_QUERYSERVICE_URL" value="https://localhost/safety-mapi/QueryService.svc" />
      <add key="SERVICE_PORT" value="80" />
      <add key="OVERLAPLOGIN_CHECK" value="false"/>
      <add key="FILE_STORAGE_PATH" value="C:\E3_COMPONENTS_SAFETYONEQ" />
		  <add key="FACE_IMAGE_PATH" value="C:\E3_COMPONENTS_SAFETYONEQ\STORAGE\FACE_IMAGE" />
		  <add key="UPLOAD_FILES_PATH" value="C:\E3_COMPONENTS_SAFETYONEQ\STORAGE\UPLOAD_FILES" />
      <add key="INIT_PASSWORD" value="1234!@#$Ab" />
      <!-- 안면 인식기 서버 정보; 10.97.12.1 Default password: 0000 -->
      <add key="FACE_DETECT_SERVER_PROTOCOL" value="https" />
      <add key="FACE_DETECT_SERVER_ADDRESS" value="e3.insighton.co.kr" />
      <add key="FACE_DETECT_SERVER_PORT" value="44337" />
      <add key="FACE_DETECT_SERVER_USERID" value="admin" />
      <add key="FACE_DETECT_SERVER_PASSWORD" value="!QAZ2wsxXX" />
      <add key="FACE_DETECT_SERVER_LOGINPATH" value="/1.0/auth/login" />
      <add key="FACE_DETECT_SERVER_EXTRACTFACE" value="/1.0/extract/face" />
    </appSettings>
</e3Section>