<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<RealTimeSection>
    <systemSettings>
        <!--error 로그 기록 여부 -->
        <add key="LOG_ERROR" value="true" />

        <!-- info 로그 기록 여부 -->
        <add key="LOG_INFO" value="true" />

        <!-- Query 로그 기록 여부 -->
        <add key="LOG_QUERY" value="true" />

        <!--token 유효기간 -->
        <add key="TOKEN_ALIVE_DAY" value="1" />

        <!-- 쿼리가 실행될때 마다 SqlMap을 다시 로드 -->
        <add key="SQLMAP_REALTIME_LOAD" value="Y" />
    </systemSettings>
    <appSettings>
    </appSettings>
</RealTimeSection>